<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="post">
        <label for="">Username: </label>
        <input type="text" name="username">
        <label for="">Password: </label>
        <input type="text" name="password">
        <button>Submit</button>
    </form>
    {% if username %}
    <h1>Welcome {{username}}!</h1>
    {% endif %}
</body>
</html>